<mat-toolbar >
    <a routerLink="/"  class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>widgets</mat-icon>
    </a>
    <a routerLink="/" class="ml10"><span >TestBay</span></a>
    <span class="example-spacer"></span>
    <a *ngIf="!isLoggedIn" routerLink="/login"  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Login
    </a>
    <a *ngIf="!isLoggedIn" routerLink="/signup"  class="example-icon favorite-icon  ml20 mr20" aria-label="Example icon-button with heart icon">
    Register
    </a>
    <a *ngIf="isLoggedIn && user"  class="example-icon favorite-icon  ml20 mr20" aria-label="Example icon-button with heart icon">
      {{user.username}}
      </a>
    <a *ngIf="isLoggedIn"  (click)="logout()"  class="example-icon favorite-icon  ml20 mr20" aria-label="Example icon-button with heart icon">
      Logout
      </a>
   
  </mat-toolbar>