.example-spacer {
    flex: 1 1 auto;
  }
a {
    font-size: 20px;
    text-decoration: none; 
    color: black;
    cursor: pointer;
}

mat-toolbar{
    background-color: #bdbdbd;
    height: 10vh;
}