<mat-toolbar >
    <a routerLink="/"  class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>widgets</mat-icon>
    </a>
    <a routerLink="/" class="ml10"><span >TestBay</span></a>
    <span class="example-spacer"></span>
    <a routerLink="/login"  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Login
    </a>
    <a routerLink="/signup"  class="example-icon favorite-icon  ml20 mr20" aria-label="Example icon-button with heart icon">
    Register
    </a>
   
  </mat-toolbar>