<!-- {{question|json}} -->

<div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <h1>Adding Question to <u>{{title}}</u></h1>
                    <mat-card-subtitle>Enter the deatils of question here</mat-card-subtitle>
                    <mat-card-content>
                        <form class="mt20" (ngSubmit)="formSubmit()">
                            <mat-form-field appearance="fill" class="w100">
                                <mat-label>Content</mat-label>
                                <textarea name="content" [(ngModel)]="question.content" rows="5" required matInput placeholder="Enter the content of the question"></textarea>
                              </mat-form-field>

                              <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" class="w100">
                                        <mat-label>Option 1</mat-label>
                                        <textarea rows="2" name="option1" [(ngModel)]="question.option1" required matInput placeholder="Enter the option of the question"></textarea>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" class="w100">
                                        <mat-label>Option 2</mat-label>
                                        <textarea rows="2" name="option2" [(ngModel)]="question.option2" required matInput placeholder="Enter the option of the question"></textarea>
                                      </mat-form-field>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" class="w100">
                                        <mat-label>Option 3</mat-label>
                                        <textarea rows="2" name="option3" [(ngModel)]="question.option3" matInput placeholder="Enter the option of the question"></textarea>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" class="w100">
                                        <mat-label>Option 4</mat-label>
                                        <textarea rows="2" name="option4" [(ngModel)]="question.option4"  matInput placeholder="Enter the option of the question"></textarea>
                                      </mat-form-field>
                                </div>
                              </div>
                               
                              <div class="text-center">
                                <mat-form-field class=" w100">
                                    <mat-label>Select the answer</mat-label>
                                    <mat-select name="answer" [(ngModel)]="question.answer" >
                                        <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                                        <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                                        <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                                        <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>

                              <div class="container text-center">
                                <button type="submit" mat-raised-button color="primary">Add</button>
                                <button type="reset" mat-raised-button color="accent" class="ml10">Reset</button>
                              </div>

                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
</div>