
.logo{
   
    position: relative; 
    width: 140px; 
    height: 150px; 
    overflow: hidden;
     border-radius: 50%;
}
.logo img{
    /* width: 100px;
    height: 100px;
    border-radius: 50%; */
    width: auto; 
    height: 100%; 
    margin-left: -10px; 
    margin-top: -10px;
}

.form-field{
    width: 100% !important;
}

mat-card{
    padding: 30px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}