<mat-card>
    <h1>Add Quiz</h1>

        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form>

                        <mat-form-field appearance="fill" class="w100">
                            <mat-label>Title</mat-label>
                            <input  name="title"   required type="text"  matInput placeholder="Enter Title here">
                          </mat-form-field>
                          <mat-form-field appearance="fill" class="w100">
                            <mat-label>Description</mat-label>
                            <textarea name="description"  matInput placeholder="Enter Description here" rows="5"></textarea>
                          </mat-form-field>

                          <div class="row">
                            <div class="col-md-6">
                                
                                  <mat-form-field appearance="fill" class="w100">
                                    <mat-label>No of Questions</mat-label>
                                    <input  name="noOfQuestions"   required type="text"  matInput placeholder="Enter no of question to display">
                                  </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="w100">
                                    <mat-label>Max Marks</mat-label>
                                    <input  name="maxMarks"   required type="text"  matInput placeholder="Enter maximum marks here">
                                  </mat-form-field>
                            </div>
                          </div>

                          <mat-slide-toggle class="text-center">
                             Publish Status
                          </mat-slide-toggle>

                          <br>

                          <mat-form-field appearance="fill" class="mt20 w100">
                            <mat-label>Choose category of quiz</mat-label>
                            <mat-select name="category">
                              <mat-option *ngFor="let c of categories" [value]="c.cId">
                                {{c.title}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                              
                          <div class="container text-center btn-div">
                            <button type="submit" mat-raised-button color="primary" class="mt20 w100 add">Add Quiz</button>
                            <button type="reset" mat-raised-button color="accent" class="mt10 mb20 w100 reset">Reset</button>
                          </div>

                     </form>
                </div>
            </div>
        </div>

</mat-card>