h1{
    margin: 20px;
}

.example-header-image {
    background-image: url('../../../../assets/quizIcon.png');
    background-size: cover;
    border: 1px solid black;
}

.truncate{
    
    display: block;
    width: 200px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}

