<mat-card>
    <h1>Quiz Collections</h1>
    <mat-card class=" quiz-card" *ngFor="let q of quizzes">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                {{q.title}}
            </mat-card-title>
            <div class="flex-end">
                <a   [routerLink]="'/admin-dashboard/update-quiz/'+q.qId" class="text-center"><mat-icon>edit</mat-icon></a>
                <a   (click)="delete(q.qId)" class="ml20 text-center"><mat-icon>delete</mat-icon></a>
            </div>    
            <mat-card-subtitle>
                {{q.category.title}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{q.description}}
        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]="'/admin-dashboard/view-questions/'+q.qId+'/'+q.title" mat-stroked-button color="primary">Questions</button>
            <button class="ml10" mat-stroked-button color="primary">Max Marks: {{q.maxMarks}}</button>
            <button class="ml10" mat-stroked-button color="primary">Max Questions: {{q.numberOfQuestions}}</button>
            <button class="ml10" mat-stroked-button color="primary">Attempts</button>
          </mat-card-actions>
    </mat-card>

    <div class="container text-center">
        <button routerLink="/admin-dashboard/add-quiz" class="mt10 mb20" mat-raised-button color="primary">Add Quiz</button>
    </div>

</mat-card>