mat-icon{
    margin-right: 15px !important;
    color: black !important;
}
h1{
    margin: 20px;
}
.addLink{
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 4px;
    line-height: .5;
}